<div class="error-wrap">
  <div class="error">
    <img class="error-img" src="/images/404.png" alt="404">

    <p class="error-type">403</p>

    {{#if message}}
      <p class="error-desc">{{message}}</p>
    {{else}}
      <p class="error-desc">您没有权限访问这个页面，请检查是否登录?</p>
    {{/if}}

    <a class="error-button" href="//wan.meizu.com">
      <span class="error-return">返回主页</span>
    </a>
  </div>
</div>
