<div class="error-wrap">
  <div class="error">
    <img class="error-img" src="/images/403.png" alt="404">

    <p class="error-type">403</p>

    <p class="error-desc">呃...这个页面你还不能玩</p>
    <a class="error-button" href="//wan.meizu.com">
      <span class="error-return">返回主页</span>
    </a>
  </div>
</div>
