<section class="content-header clearfix">
  <h3> 修改管理员密码 </h3>
</section>

<div class="form-group">
  <div class="form-group">
    <label for="old">旧密码</label>
    <input type="password" ng-model="changeQuery.old" class="form-control" id="old">
  </div>
  <div class="form-group">
    <label for="new">新密码(大于8位,小于16位)</label>
    <input type="password" ng-model="changeQuery.new" class="form-control" id="new">
  </div>

  <div class="form-group">
    <label for="confirmNew">新密码确认</label>
    <input type="password" ng-model="changeQuery.confirmNew" class="form-control" id="confirmNew">
  </div>

  <div class="operation">
    <button class="btn btn-success" ng-click="changePassword()">修改密码</button>
  </div>
</div>

